# Can't use deployment name as it is going to be filled in with a generated
# name which has dashes in it, which are not valid bigquery name characters.
{% set DATASET = "ods" %}
resources:
- name: {{ env['name'] }}
  type: bigquery.v2.dataset
  properties:
    datasetReference:
      datasetId: {{ DATASET }}
    labels:
      env: {{properties['env']}}
      businessunit: {{properties['businessunit']}}
      tier: {{properties['tier']}}
      ops: {{properties['ops']}}