resources:
- name: {{env['deployment']}}-bucket-first123
  type: storage.v1.bucket
  properties:
    project: ysance-billing
    location: {{properties['region']}}
    storageClass: {{properties['storageClass']}}
    versionning:
      enabled: false

      