resources:
- name: {{properties['name']}}
  type: storage.v1.bucket
  properties:
    project: {{env['project']}}
    location: {{properties['region']}}
    storageClass: {{properties['storageClass']}}
    versionning:
      enabled: false
    labels:
      env: {{properties['env']}}
      businessunit: {{properties['businessunit']}}
      tier: {{properties['tier']}}
      ops: {{properties['ops']}}
